.white-box{
    border-radius: 20px;
    border:none;
}

.white-box #cari{
    border-radius: 7px;
}

#tulis{
    font-family: 'Abril Fatface', sans-serif;
    font-size: 30px; 
}
.tambahData{
    background-color: transparent;
    border:solid 2px #707cd2;
    color:#707cd2;
}
