.login-register{
   

    background: url(login6.png) no-repeat cover ;
    -webkit-background-size: 100% 100% !important;
    -moz-background-size: 100% 100% !important;
    -o-background-size: 100% 100% !important;
    background-size: 100% 100% !important;
    
    
}

.login-box{
    box-shadow: 2px 2px 8px 0px black;
    color: #ffffff;
}
.btn-login{
    border-radius: 15px;
}
.btn-login:hover{
    background-color: red;
}